# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\712216\хлам\Проект\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
